{% extends '_template.twig' %}

{% block content %}
  <article>
    <h1>{{client.name}} - Informatie</h1>

      <div class="row">
        <strong class="col-sm-2 form-control-label">Naam</strong>
        <div class="col-sm-10">
          {{ client.name }}
        </div>
      </div>

      <div class="row">
        <strong class="col-sm-2 form-control-label">WordPress versie</strong>
        <div class="col-sm-10">
          {{ client.version }}
        </div>
      </div>

      <div class="row">
        <strong class="col-sm-2 form-control-label">Aantal updates</strong>
        <div class="col-sm-10">
          {{ client.updateCount }}
        </div>
      </div>

      <div class="row">
        <strong class="col-sm-2 form-control-label">Eigenaar</strong>
        <div class="col-sm-10">
          <a href="{{ route('user-info', {id: client.owner.id}) }}">{{ client.owner.email }}</a>
        </div>
      </div>

      <div class="row">
        <strong class="col-sm-2 form-control-label">Client ID</strong>
        <div class="col-sm-10">
          {{ client.id }}
        </div>
      </div>

      <div class="row">
        <strong class="col-sm-2 form-control-label">Client Secret</strong>
        <div class="col-sm-10">
          {% if client.owner and client.owner.id == session.userid %}
            <code>{{ client.secret }}</code>
          {% else %}
            <span class="text-muted">Verborgen</span>
          {% endif %}
          </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="{{ route('site-list') }}" class="btn btn-secondary">Terug</a>
        </div>
      </div>

    </form>
  </article>
{% endblock %}
